@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800|Poppins:300,400,500,600,700');

/*=======================================================================

==========================================================================*/

/*=========================================
1. Template Default Styles                                 
==========================================*/
html,
body {
  height: 100%;
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  line-height: 24px;
  font-weight: 400;
  vertical-align: baseline;
  background: #ffffff;
  color: #707070;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #222222;
  line-height: 1.4;
  font-weight: 500;
  font-family: 'Poppins', sans-serif;
  margin: 0 0 20px 0;
}
h1 {
  font-size: 72px;
}
h2 {
  font-size: 48px;
}
h3 {
  font-size: 30px;
}
h4 {
  font-size: 24px;
}
p {
  line-height: 24px;
  margin: 0 0 20px 0;
}
a {
  text-decoration: none;
}
a:active,
a:hover,
a:focus {
  text-decoration: none;
}
a:active,
a:hover,
a:focus {
  outline: 0 none;
}
img {
  max-width: 100%;
  height: auto;
}
ul {
  list-style: outside none none;
  margin: 0;
  padding: 0;
}
.clear:after {
  clear: both;
  content: "";
  display: block;
}
.wraper {
  overflow: hidden;
}
.form-control {
  border: 1px solid #dddddd;
  box-shadow: none;
}
.form-control::-moz-placeholder {
  color: #646464;
}
.padding-top-bottom {
  padding: 120px 0;
}
.padding-two-top-bottom {
  padding: 110px 0 120px 0;
}
.padding-top {
  padding-top: 120px;
}
.padding-bottom {
  padding-bottom: 120px;
}
.default-button-btn {
  border-radius: 3px;
  color: #ffffff;
  background: #26c6da;
  display: block;
  padding: 12px 25px;
  font-size: 16px;
  font-weight: 600;
  text-transform: capitalize;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.default-button-btn:hover {
  background: #19abbd;
  color: #ffffff;
}
.ghost-btn {
  border: 2px solid #26c6da;
  border-radius: 3px;
  font-size: 16px;
  font-weight: 600;
  padding: 10px 20px;
  background: transparent;
  display: inline-block;
  text-transform: capitalize;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.ghost-btn:hover {
  background: #19abbd;
  color: #ffffff;
}
.title-section {
  margin-bottom: 60px;
  text-align: center;
}
.title-section h2 {
  font-size: 36px;
  margin-bottom: 10px;
}
.owl-theme .owl-controls > .owl-nav {
  margin: 0;
}
.padding-two-top-bottom {
    padding: 110px 0 120px 0;
}

body.mean-container .wraper {
  padding-top: 58px;
}
@media (max-width: 767px) {
  .wraper > header {
    display: none;
  }
}
blockquote {
  background: #26c6da;
  border: none;
  color: #ffffff;
  font-weight: 600;
  font-size: 18px;
  font-style: italic;
  padding: 30px 45px;
}
blockquote p::before {
  font-family: 'FontAwesome';
  content: "\f10d";
  margin-right: 10px;
}

/*=========================================
2. Header Common Styles                                
==========================================*/
.header-top-section {
  background: #131a1d;
  padding: 5px 0;
}
.header-top-section ul li {
  display: inline-block;
  color: #a6b1b7;
  font-size: 14px;
  margin-right: 10px;
}
.header-top-section ul li i {
  color: #26c6da;
  padding-right: 10px;
}
.header-top-section .header-address ul {
  text-align: right;
}
.header-top-section .header-address ul li:last-child {
  margin-right: 0;
}
.logo-area {
  display: table;
  height: 90px;
  position: relative;
}
.logo-area a {
  display: table-cell;
  vertical-align: middle;
}
.header-shadow {
  -webkit-box-shadow: 0 1px 4px 0px rgba(46, 50, 50, 0.5);
  -moz-box-shadow: 0 1px 4px 0px rgba(46, 50, 50, 0.5);
  box-shadow: 0 1px 4px 0px rgba(46, 50, 50, 0.5);
  margin-bottom: 5px;
}


/*-------------------------------------------
2.4 Header Cart and Search Styles
-------------------------------------------*/
.header-one {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  margin: 0 auto;
  z-index: 10;
}
.header-top-right {
  height: 90px;
  text-align: right;
}
.header-top-right > ul > li {
  display: inline-block;
  line-height: 90px;
}
.header-top-right ul li:last-child {
  border-right: 0;
}
.header-top-right > ul > li:last-child {
  padding-left: 30px;
}
.header-top-right > ul > li:last-child a {
  color: #ffffff;
  border-left: 1px solid #ffffff;
  padding-left: 15px;
}
.header-top-right > ul > li:last-child a i {
  font-size: 22px;
}
.header-top-search {
  position: relative;
}
.header-top-search input {
  border: none;
  box-shadow: none;
  background: transparent;
  font-size: 14px;
}
.header-top-search button {
  position: absolute;
  right: 0;
  border: none;
  background: transparent;
  box-shadow: none;
}
.header-top-search a.search-button {
  color: #ffffff;
  border-right: 1px solid #ffffff;
  padding-right: 15px;
}
.header-top-search .search-text.active {
  left: -146px;
  opacity: 1;
  padding: 0 10px;
  visibility: visible;
  width: 180px;
}
.header-top-search .search-text {
  background: #F5F5F5;
  border: 1px solid #fb5b21;
  color: #666666;
  height: 34px;
  left: 0;
  margin-right: 3px;
  opacity: 0;
  padding: 0;
  position: absolute;
  top: 90px;
  visibility: hidden;
  width: 0;
  z-index: 9;
  transition: all 0.3s ease 0s;
}
.header-top-area .cart-area {
  color: #666666;
  float: inherit;
  padding-left: 7px;
}
.header-top-right .cart-area .flaticon-commerce::before {
  margin-left: 0;
  color: #ffffff;
  font-size: 22px;
  font-weight: 600;
}
.header-top-area .cart-area span {
  background: #26c6da;
  border-radius: 50%;
  color: #ffffff;
  font-size: 12px;
  height: 18px;
  line-height: 18px;
  position: absolute;
  bottom: 40px;
  text-align: center;
  width: 18px;
}
.header-top-right ul li ul.chart-scroll {
  background: #F5F5F5;
  opacity: 0;
  position: absolute;
  right: 0;
  top: 90px;
  text-align: left;
  transform: scaleY(0);
  transform-origin: 0 0 0;
  transition: all 0.5s ease 0s;
  visibility: hidden;
  width: 250px;
  z-index: 99999;
}
.header-top-right ul li:hover ul.chart-scroll {
  opacity: 1;
  transform: scaleY(1);
  visibility: visible;
}
.header-top-right ul li ul.chart-scroll li {
  border-bottom: 1px solid #dddddd;
  line-height: 1;
}
.header-top-right ul li ul.chart-scroll li:last-child {
  border-bottom: none;
}

.header-top-right ul li ul.chart-scroll li a.checkout-button {
  background: #26c6da;
  color: #ffffff;
  display: block;
  font-size: 15px;
  font-weight: 600;
  margin: auto;
  padding: 15px;
  text-align: center;
  text-transform: uppercase;
  width: 250px;
  transition: all .3s;
}
.header-top-right ul li ul.chart-scroll li a.checkout-button:hover {
  background: #19abbd;
  color: #ffffff;
}

/*=========================================
3. Main Slider Styles                                
==========================================*/
.slider-overlay {
  position: relative;
}
@media only screen and (max-width: 1199px) {
  .slider-overlay:before {
    content: "";
    background: rgba(0, 0, 0, 0.3);
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 6;
    top: 0;
    left: 0;
    right: 0;
  }
}
.slider-overlay .nivo-caption {
  opacity: 1;
}
.slider-default .nivo-directionNav .nivo-prevNav {
  background: #ffffff;
  border-radius: 50%;
  color: #000000;
  font-size: 0;
  line-height: 50px;
  text-indent: 0;
  text-align: center;
  left: 50px;
  height: 50px;
  width: 50px;
}
.slider-default .nivo-directionNav .nivo-prevNav::after {
  content: "\f104";
  font-family: 'FontAwesome';
  font-size: 24px;
}
.slider-default .nivo-directionNav .nivo-prevNav:hover {
  background: #26c6da;
  color: #ffffff;
}
.slider-default .nivo-directionNav .nivo-nextNav {
  background: #ffffff;
  border-radius: 50%;
  color: #000000;
  font-size: 0;
  text-indent: 0;
  line-height: 50px;
  text-align: center;
  right: 50px;
  height: 50px;
  width: 50px;
}
.slider-default .nivo-directionNav .nivo-nextNav::after {
  content: "\f105";
  font-family: 'FontAwesome';
  font-size: 24px;
}
.slider-default .nivo-directionNav .nivo-nextNav:hover {
  background: #26c6da;
  color: #ffffff;
}
.slider-default .nivo-controlNav {
  padding: 0;
}
.slider-default .slider-content h1 {
  font-size: 48px;
  color: #ffffff;
}
.slider-default .slider-content p {
  color: #e1e1e1;
  width: 50%;
}
.slider-default .slider-content .slider-btn-area {
  display: inline-block;
  margin-top: 45px;
}
.slider-default .slider-content .slider-btn-area .default-button-btn {
  display: block !important;
}
.slider-default .slider-content .slider-btn-area .ghost-btn {
  border: 2px solid #ffffff;
  background: #ffffff;
  color: #222222;
}
.slider-default .slider-content .slider-btn-area .ghost-btn:hover {
  background: #26c6da;
  border: 2px solid #26c6da;
  color: #ffffff;
}
.slider-two .slider-content h1 {
  color: #222222;
}
.slider-two .slider-content p {
  color: #646464;
}
/*=========================================
4. Service Area Styles                                
==========================================*/
/*-------------------------------------------
4.1 Home One Service Styles
-------------------------------------------*/
.home-one-service .single-service .icon {
  padding-right: 20px;
}
.home-one-service .single-service .icon a {
  border-radius: 50%;
  display: block;
  text-align: center;
  line-height: 60px;
  height: 60px;
  width: 60px;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.home-one-service .single-service .icon a i::before {
  font-size: 30px;
  color: #ffffff;
  margin-left: 0;
}
.home-one-service .single-service .teal a {
  background: #4ad5c0;
}
.home-one-service .single-service .red a {
  background: #ef5350;
}
.home-one-service .single-service .blue a {
  background: #039be5;
}
.home-one-service .single-service .content {
  margin-top: 0;
}
.home-one-service .single-service .content h3 {
  font-size: 20px;
  margin-bottom: 12px;
}
.home-one-service .single-service .content h3 a {
  color: #222222;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.home-one-service .single-service .content p {
  margin-bottom: 0;
}
.home-one-service .single-service:hover .icon a {
  background: #26c6da;
}
.home-one-service .single-service:hover .content a {
  color: #26c6da;
}
/*-------------------------------------------
4.2 Home Two Service Styles
-------------------------------------------*/
.home-two-service {
  background: url(img/service_bg.jpg) bottom center repeat-x;
}
.home-two-service .single-service {
  text-align: center;
}
.home-two-service .single-service .pull-left {
  float: none !important;
}
.home-two-service .single-service .pull-left a {
  background: transparent;
  display: inline-block;
  margin-bottom: 20px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.home-two-service .single-service .pull-left a i::before {
  font-size: 40px;
  margin-left: 0;
}
.home-two-service .single-service .teal a {
  color: #4ad5c0;
}
.home-two-service .single-service .red a {
  color: #ef5350;
}
.home-two-service .single-service .blue a {
  color: #039be5;
}
.home-two-service .single-service .content {
  margin-top: 0;
}
.home-two-service .single-service .content h3 {
  font-size: 20px;
  margin-bottom: 12px;
}
.home-two-service .single-service .content h3 a {
  color: #222222;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.home-two-service .single-service .content p {
  margin-bottom: 0;
}
.home-two-service .single-service:hover .icon a {
  color: #26c6da;
}
.home-two-service .single-service:hover h3 a {
  color: #26c6da;
}
/*-------------------------------------------
4.3 Home Three Service Styles
-------------------------------------------*/
.home-three-service .single-service {
  text-align: center;
  border-right: 1px solid #dddddd;
  padding: 100px 30px;
  overflow: hidden;
}
.home-three-service .single-service .service-media {
  -webkit-transform: scale(0.8);
  transform: scale(0.8);
  -webkit-transition: 1s ease-in-out;
  transition: 1s ease-in-out;
}
.home-three-service .single-service .service-media a {
  display: inline-block;
  position: relative;
}
.home-three-service .single-service .service-content {
  margin-top: 25px;
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: 1s ease-in-out;
  transition: 1s ease-in-out;
}
.home-three-service .single-service .service-content h3 {
  font-size: 20px;
  margin-bottom: 12px;
}
.home-three-service .single-service .service-content h3 a {
  color: #222222;
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -ms-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}
.home-three-service .single-service .service-content p {
  margin-bottom: 0;
}
.home-three-service .single-service:hover h3 a {
  color: #26c6da;
}
.home-three-service .single-service:hover .service-media {
  -webkit-transform: scale(1);
  transform: scale(1);
}
.home-three-service .single-service:hover .service-content {
  -webkit-transform: scale(1);
  transform: scale(1);
}
/*-------------------------------------------
4.4 Home Four Service Styles
-------------------------------------------*/
.home-four-service .single-service .service-image {
  position: relative;
  overflow: hidden;
}
.home-four-service .single-service .service-image img {
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: 1s ease-in-out;
  transition: 1s ease-in-out;
}
.home-four-service .single-service .service-image:hover img {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
.home-four-service .single-service .service-content h3 {
  font-size: 20px;
  margin-bottom: 12px;
  margin-top: 20px;
}
.home-four-service .single-service .service-content h3 a {
  color: #222222;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.home-four-service .single-service .service-content h3 a:hover {
  color: #26c6da;
}
.home-four-service .single-service .service-content .default-button-btn {
  display: inline-block;
  padding: 10px 20px;
}


/*-------------------------------------------
4.7 Take Our Service Styles
-------------------------------------------*/
.take-our-service {
  background: url(img/our_service_bg.png) bottom center repeat-x;
  padding-top: 110px;
  padding-bottom: 90px;
}
.take-our-service .single-service {
  margin-bottom: 40px;
}
.take-our-service .single-service .icon {
  padding-right: 20px;
}
.take-our-service .single-service .icon a {
  background: #cfd8dc;
  border-radius: 50%;
  display: block;
  text-align: center;
  line-height: 60px;
  height: 60px;
  width: 60px;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.take-our-service .single-service .icon a i::before {
  font-size: 30px;
  color: #ffffff;
  margin-left: 0;
}
.take-our-service .single-service .teal a {
  background: #4ad5c0;
}
.take-our-service .single-service .red a {
  background: #ef5350;
}
.take-our-service .single-service .blue a {
  background: #039be5;
}
.take-our-service .single-service .grey a {
  background: #607d8b;
}
.take-our-service .single-service .yellow a {
  background: #ffb74d;
}
.take-our-service .single-service .green a {
  background: #66bb6a;
}
.take-our-service .single-service .content {
  margin-top: 0;
}
.take-our-service .single-service .content h3 {
  font-size: 20px;
  margin-bottom: 12px;
}
.take-our-service .single-service .content h3 a {
  color: #222222;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.take-our-service .single-service .content p {
  margin-bottom: 0;
}
.take-our-service .single-service:hover .icon a {
  background: #26c6da;
}
.take-our-service .single-service:hover .content a {
  color: #26c6da;
}
.take-our-service .col-md-4:nth-child(4n+1) {
  clear: both;
}
/*=========================================
5. Checkout Styles                                
==========================================*/
.check-out-area {
  background: #f8f8f8 url(img/check_bg.png) 10% center no-repeat;
}
.check-out-area form {
  text-align: center;
}
.check-out-area form h2 {
  font-size: 30px;
  margin-bottom: 45px;
}
.check-out-area form .form-group {
  display: inline-block;
  margin-bottom: 0;
  width: 35%;
}
.check-out-area form .form-group input {
  border-radius: 3px;
  height: 45px;
  font-weight: 600;
  font-size: 13px;
}
.check-out-area form .form-group.send-button {
  width: 13%;
}
.check-out-area form .form-group.send-button button {
  display: block;
  height: 45px;
  border: none;
  box-shadow: none;
  border-radius: 3px;
  background: #26c6da;
  color: #ffffff;
  font-size: 16px;
  font-weight: 600;
  text-transform: capitalize;
  padding: 10px 30px;
}
.check-out-area form .form-group.send-button button:hover {
  background: #19abbd;
}
.check-home-two {
  background: transparent;
}
.check-home-three {
  background: #eeeeee url(img/check_three_bg.jpg) center center no-repeat;
  padding: 105px 0;
}
.check-home-three form .form-group.send-button {
  margin-top: 20px;
  width: 100%;
}
.check-home-three form .form-group.send-button button {
  display: inline-block;
}
/*=========================================
6. About Area Styles                                
==========================================*/
/*-------------------------------------------
6.1 About Seo One Styles
-------------------------------------------*/
.about-seo-one {
  position: relative;
}
.about-seo-one::after {
  background: #263238;
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 50%;
  z-index: -1;
}
.about-seo-one::before {
  background: #26c6da;
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 50%;
  z-index: -1;
}
.about-seo-one .content-part {
  color: #d9d9d9;
  padding-right: 90px;
  text-align: right;
}
.about-seo-one .content-part h2 {
  color: #ffffff;
}
.about-seo-one .content-part p {
  margin-bottom: 45px;
  color: #ffffff;
}
.about-seo-one .content-part .ghost-btn {
  color: #ffffff;
  font-size: 16px;
}
.about-seo-one .image-part {
  padding-left: 90px;
}
/*-------------------------------------------
6.2 About Seo Two Styles
-------------------------------------------*/
.about-seo-two {
  background: #263238 url(img/about_bottom_left.png) left bottom no-repeat;
}
.about-seo-two .content-part h2 {
  color: #ffffff;
}
.about-seo-two .content-part p {
  color: #96a4ac;
}
.about-seo-two .content-part .default-button-btn {
  display: inline-block;
  font-size: 16px;
  margin-top: 30px;
}
.about-seo-two .image-part {
  text-align: right;
}

/*-------------------------------------------
12.1 Latest Blog One Styles
-------------------------------------------*/
.latest-blog-area {
  background: #f8f8f8;
}
.latest-blog-area .single-blog-item {
  background: #ffffff;
  margin-bottom: 30px;
}
.latest-blog-area .single-blog-item .blog-image {
  position: relative;
  overflow: hidden;
}
.latest-blog-area .single-blog-item .blog-image img {
  width: 100%;
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: 1s ease-in-out;
  transition: 1s ease-in-out;
}
.latest-blog-area .single-blog-item .blog-image:hover img {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}
.latest-blog-area .single-blog-item .blog-content {
  position: relative;
  padding: 50px 25px 40px;
}
.latest-blog-area .single-blog-item .blog-content .date {
  position: absolute;
  top: -35px;
  background: #ffffff;
  border-radius: 7px;
  color: #26c6da;
  padding: 6px 0 0 0;
  text-align: center;
  font-weight: 600;
}
.latest-blog-area .single-blog-item .blog-content .date span {
  background: #26c6da;
  border-radius: 0 0 7px 7px;
  color: #ffffff;
  display: block;
  margin-top: 4px;
  padding: 5px 20px;
}
.latest-blog-area .single-blog-item .blog-content h3 {
  margin-bottom: 0;
  font-size: 17px;
}
.latest-blog-area .single-blog-item .blog-content h3 a {
  color: #222222;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.latest-blog-area .single-blog-item .blog-content h3 a:hover {
  color: #26c6da;
}
.latest-blog-area .single-blog-item .blog-content .posted {
  font-size: 14px;
  margin-top: 5px;
}
.latest-blog-area .single-blog-item .blog-content .posted a {
  color: #26c6da;
}
.latest-blog-area .single-blog-item .blog-content .posted a:hover {
  color: #19abbd;
}
.latest-blog-area .viewall {
  margin-top: 40px;
  text-align: center;
}
.latest-blog-area .viewall .ghost-btn {
  color: #222222;
  font-weight: 600;
  padding: 10px 35px;
}
.latest-blog-area .viewall .ghost-btn:hover {
  color: #ffffff;
}
/*=========================================
24. Footer Section Styles                                
==========================================*/
.footer-section-area {
  background: #263238;
}
.footer-section-area h3 {
  font-size: 24px;
  color: #ffffff;
  margin-bottom: 25px;
}
.footer-section-area ul li {
  margin-bottom: 8px;
  padding-bottom: 8px;
}
.footer-section-area ul li a {
  font-size: 14px;
  color: #e1e1e1;
}
.footer-section-area ul li a:hover {
  color: #26c6da;
}
.footer-section-area .popular-post {
  margin-bottom: 0;
}
.footer-section-area .popular-post .post-date {
  display: block;
  color: #26c6da;
  padding-bottom: 10px;
}
